
header{

}
h1 {
  color:red;
  margin:20px;
  font-family:cursive, georgia;
  font-weight: 600px;
  font-size: 40px;
  
}
h2{
  color:blue;
  margin:0;
  font-family:cursive, georgia;
  font-weight: 900;
  font-size: 20px;
}

.frame{
  position: absolute;
  left: 0%;
  width:100vw;
  margin-right: 20px;


  height: 500px;
  background: white;
  padding: 5px 15px 5px 15px;

 top:20px;
 border:solid black;
 justify-content: flex-end;
}

body {
  background-image:url(image/linguaworks.webp);
  background-size: cover;
  background-repeat: no-repeat;
  min-height:100vh;
  width:100vw;
  margin: 0;
  padding-top: 50px;
  text-align:center;  
  color:blue;
  position: fixed;   
  display: block; 
}

ul{
  list-style: none;
}


#startQuiz{
  background-color: yellow;
  border: 0.1em solid (185,53%,34%);
  color: black;
  padding: 41px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
  margin: 200px;
  background-attachment: fixed;
  font:inherit;
  font-family: cursive;
  font-weight: 700;

}

#quizContainer {
  margin-top: 100px;
}

#question{
  font-size: 25px;
  color:gold;
  font-family: cursive;
  font-weight: 700;
}

#choices{
  display: flex;
  font-size: 20px;
  color:red;
  font-family: cursive;
  font-weight: 700;
  flex-direction: column;
  margin-left: -40px;
}


@media screen and (min-width:320px){
  h1{
      font-size:120%;
      text-align: center;
  }
  h2{
    font-size:80%;
    text-align: center;

  }
}


@media screen and (min-width:425px){
  h1{
      font-size:150%;
      text-align: center;
  }
  h2{
    font-size:100%;
    text-align: center;

  }
}

@media screen and (min-width:650px){
  h1{
      font-size:175%;
      text-align: center;
  }
  h2{
    font-size:125%;
    text-align: center;

  }
}

@media screen and (min-width:768px){
  h1{
      font-size:200%;
      text-align: center;
  }
  h2{
    font-size:150%;
    text-align: center;

  }
}

@media screen and (min-width:1200px){
  h1{
      font-size:250%;
      text-align: center;
  }
  h2{
    font-size:175%;
    text-align: center;

  }
}

@media screen and (max-width:320px){
  h1{
      font-size:100%;
      text-align: center;
  }
  h2{
    font-size:65%;
    text-align: center;

  }
}
